/* tab栏切换容器 */

tab {
    margin-top: 20px;
    margin-bottom: 10px;
    border-bottom: 1px solid #81c5ba;
    display: block;
    padding-left: 40px;
}


/* tab切换按钮 */

tab-nav {
    height: 21px;
    /* width: 85px; */
    line-height: 21px;
    /* text-align: center; */
    font-size: 14px;
    border: 1px solid #ccc;
    border-bottom: 0px solid #81c5ba;
    border-radius: 6px 6px 0px 0px;
    padding: 3px 15px 0px 15px;
    margin: 0px 1px 0px 0px;
    display: inline-block;
}

tab-nav.active {
    background-color: #81c5ba;
    color: #fff;
    border: 1px solid #81c5ba;
}

multiview {
    display: block;
    position: relative;
}

view {
    display: none;
}

view.active {
    display: block;
}


/* 弹出窗体 */

popheader {
    display: block;
    background-color: #81c5ba;
    padding: 0 10px;
    color: #fff;
    position: relative;
    /* height: 30px; */
    /* line-height: 30px; */
    /* vertical-align: middle; */
    font-size: 14px;
    /* font-weight: bold; */
}

popdialog {
    display: block;
    /* width: 400px; */
    position: relative;
    /* margin: 10% auto 0; */
    border-radius: 4px;
    background: #fff;
    /* line-height: 24px; */
    overflow: hidden;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

closeicon {
    position: absolute;
    right: 10px;
    top: 0;
    cursor: pointer;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=50);
    opacity: .5;
}

popmask {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .4);
    overflow: hidden;
}

popbody {
    display: block;
    padding: 5px 10px;
}

popbody div {
    margin: 15px 0;
}


/* popbody label {
    display: inline-block;
    width: 100px;
    text-align: right;
} */

popbody span {
    display: none;
    color: red;
    font-size: 12px;
    margin-left: 15px;
}

th {
    border-bottom: solid 1px;
}

tbody>tr:nth-child(odd):hover,
tbody>tr:hover {
    background-color: #ccc;
}

tbody>tr:nth-child(odd) {
    background-color: antiquewhite;
}

label {
    display: inline-block;
    width: 80px;
    color: #81c5ba;
}

button {
    height: 26px;
    border: solid 1px #81c5ba;
    border-radius: 13px;
    margin: 3px;
    outline: none;
    padding: 0px 13px 0px 13px;
    vertical-align: middle;
}

button:hover {
    background-color: #81c5ba;
    color: #fff;
}

f1 {
    display: inline-block;
    width: 280px;
}

f2 {
    display: inline-block;
    width: 560px;
}

field {
    display: inline-block;
    width: calc( 280px * var(--colspan));
}

f1>input,
f2>input,
f3>input,
field>input {
    width: calc(100% - 84px);
    border: none;
    border-bottom: solid 1px #ccc;
    outline: none;
}
f1>select,
f2>select,
f3>select
field>select{
    width: calc(100% - 84px);
}


fieldset {
    border: solid 1px #ccc;
    border-radius: 5px;
    margin-bottom: 3px;
}

td>input,
td>select {
    width: calc(100% - 4px);
}

td button {
    height: 16px;
    border: solid 1px #81c5ba;
    font-size: 12px;
    border-radius: 8px;
    margin: 0px;
    outline: none;
    padding: 0px 11px 0px 11px;
    vertical-align: middle;
}

.footer {
    position: fixed;
    /* border-top: solid 1px; */
    bottom: 0px;
    /* width: calc(100% - 30px); */
}
